<main class="main">
  <div class="inner">
    <h1 class="page-heading">condate!</h1>
    <div class="search">
    冷蔵庫の中身が入る
    </div>
    <div class="card__wrapper">
      <div class="card">
        <img src="./images/image.png" alt="" class="card__img" />
        <div class="card__body">
          <h2 class="card__title">メニュー名</h2>
          <p class="card__summary">
            詳細
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./images/image.png" alt="" class="card__img" />
        <div class="card__body">
          <h2 class="card__title">メニュー名</h2>
          <p class="card__summary">
            詳細
          </p>
        </div>
      </div>
      <div class="card">
        <img src="./images/image.png" alt="" class="card__img" />
        <div class="card__body">
          <h2 class="card__title">メニュー名</h2>
          <p class="card__summary">
            詳細
          </p>
        </div>
      </div>
    </div>
  </div>
</main>