<%= render "shared/header" %>


<div class="wrapper">
  <div class="opacity-paper">
    <main class="main">
      <div class="in-fridge">
        <p class="in-fridge-title">今日は外食にしましょう！！！！</p>
        <%= image_tag "gaisyoku.png" %>
        <%= button_to "トップページへもどる", root_path, method: :get, class: "btn" %>
      </div>
    </main>
  </div>
  <%= render "shared/footer" %>
</div>
