<%= render "shared/header" %>

<main class="main">
  <div class="in-fridge">
    <% if @results.length != 0 %>
      <% @results.each do |result| %>
        <p class="in-fridge-title">今日のごはんは・・・</p>
        <%# <%= image_tag result.image %> 
        <p class="in-fridge-title"><%= result.cooking %>！</p>
      <% end %>
    <% else %>
      <p class="in-fridge-title">今日は外食にしましょう！！！！</p>
    <% end %>
    <%= button_to "トップページへもどる", root_path, method: :get, class: "btn" %>
  </div>
</main>
