.footer {
  width: 100vw;
  height: 20vh;
  background-color: #ebe1d5;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.condate-images {
  display: flex;
}

.footer-bear-img {
  width: 3vw;
}

.footer-img {
  width: 30vw;
}

.copy-right {
  color: #fff;
  margin: 0;
}

@media (max-width: 1024px) {
  .footer-bear-img {
    width: 10vw;
  }
  .footer-img {
    width: 50vw;
  }
}

@media (max-width: 599px) {
  .footer-bear-img {
    width: 10vw;
  }
  .footer-img {
    width: 50vw;
  }
}