* {
  box-sizing: border-box;
}

.all-page-header {
  width: 100vw;
  height: 9vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid wheat;
}

.condate-icon {
  height: 8vh;
}

li {
  list-style: none;
}

.login-and-signup {
  display: flex;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #635f5a;
}

.sign-up {
  text-decoration: none;
  color: #635f5a;
}

.hidden {
  display: none;
}

.for-user {
  position: relative;
  width: 10vw;
  display : inline-block;
  border-radius : 30px;
  font-size : 1vw;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  background : #dfbb76;
  color : #ffffff;
  line-height : 1em;
  border: none;
}
.for-user:hover {
  opacity       : 0.6;
}

.user-dropdown {
  width: 16vw;
  position: absolute;
  top: 10vh;
  }

.pulldoun-list {
  width: 10vw;
  text-decoration: none;
  padding: 1vh 0 1vh 1vw;
  border: 1px solid wheat;
  background-color: #ffffff;
}

.pulldown-list-link {
  font-size: 1vw;
  color: #635f5a;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .condate-icon {
    height: 6vh;
  }
  .for-user {
    width: 15vw;
    font-size : 2vw;
  }
}

@media (max-width: 599px) {
  .condate-icon {
    height: 5vh;
  }
  .for-user {
    width: 80px;
    font-size: 14px;
  }
  .pulldoun-list {
    width: 80px;
    padding: 0.5vh 1vw;
  }
  .pulldown-list-link {
    font-size: 12px;
  }
  .login-and-signup {
    white-space: nowrap;
    font-size: 12px;
  }
  .login {
    margin-right: 2vw;
  }
}