* {
  box-sizing: border-box;
}

.all-page-header {
  width: 100vw;
  height: 9vh;
  padding: 0 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid wheat;
}

.condate-icon {
  height: 8vh;
}

li {
  list-style: none;
}

.login-and-signup {
  display: flex;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #635f5a;
}

.sign-up {
  text-decoration: none;
  color: #635f5a;
}

.hidden {
  display: none;
}

.for-user {
  position: relative;
  width: 10vw;
  display : inline-block;
  border-radius : 30px;
  font-size : 2vh;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  background : #dfbb76;
  color : #ffffff;
  line-height : 1em;
  border: none;
}
.for-user:hover {
  opacity       : 0.6;
}

.user-dropdown {
  width: 16vw;
  position: absolute;
  top: 10vh;
  background-color: #ffffff;
  }

.pulldoun-list {
  width: 16vw;
  font-size: 1.8vh;
  text-decoration: none;
  padding: 1vh 0 1vh 1vw;
  border: 1px solid wheat; 
  color: #635f5a;
}

.pulldown-list-link {
  color: #635f5a;
}
