<div class="footer">
  <div class="footer-images">
    <%= image_tag "footer.png", class: "footer-img" %>
    <%= image_tag "footer-bear.png", class: "footer-bear-img" %>
  </div>
  <p class="copy-right">
    ©︎condate bear2020
  </p>
</div>