.menu-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}

.post-title {
  width: 40vw;
  border-bottom: 1px solid #e3d5c3;
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.menu-post-images {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-image {
  height: 25vh;
  border-radius: 6px;
  border: 10px solid #f9eee2;
}

.menu-post-image {
  height: 25vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-image {
  height: 25vh;
  width: 100%;
  background-color: #f9eee2;
  cursor: pointer;
  position: relative;
}

.form-image p {
  font-size: 2vh;
  color: #a0988f;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform : translate(-50%,-50%);
  text-align: center;
}

.menu--title, .menu--url, .menu--recipe {
  width: 40vw;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.menu-post-title, .menu-post-url, .menu-post-recipe {
  margin: 0.2vh;
  padding-top: 1vh;
}

.menu--recipe:focus, .menu--title:focus, .menu--url:focus {
  border: 2px solid #dfbb76;
  outline: 0;
}

.post-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back {
  width: 350px;
  display : inline-block;
  border-radius : 4px;
  font-size : 12pt;
  text-align : center;
  cursor : pointer;
  margin-top: 30px;
  padding : 15px;
  background : #ffffff;
  color : #dfbb76;
  line-height : 1em;
  border: 2px solid #dfbb76;
  -webkit-appearance: none;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .menu-post-image {
    width: 40vw;
  }
}

@media (max-width: 599px) {
  .login-and-signup {
    font-size: 12px;
  }
  .menu-post-image {
    width: 70vw;
  }
  .menu--title, .menu--url, .menu--recipe {
    width: 90vw;
    padding: 10px 16px 8px;
  }
  .post-title {
    margin: 0;
  }
}
