.menu-detail {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-menu {
  margin-right: 2vw;
}

.menu--img {
  height: 30vh;
  border-radius: 6px;
}

.right-menu-detail {
  color: #635f5a;
}

.menu-title-user {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #e3d5c3;
}

.menu-detail-title {
  font-size: 3vh;
  font-weight: bold;
  padding-right: 1vw;
}
.cooked-name {
  font-size: 2vh;
  color: #827b74;
  padding-bottom: 0.5vh;
  white-space: nowrap;
}
.right-bookmark-icon {
  margin: 0 0 1vh 2vw;
}

.menu-detail-url {
  margin-top: 2vh;
  font-size: 2vh;
  border-bottom: 1px solid #e3d5c3;
}
.menu-detail-recipe {
  margin-top: 2vh;
  font-size: 2vh;
  border-bottom: 1px solid #e3d5c3;
}

.btns {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.edit-btn {
  width: 20vw;
  height: 5vh;
  display : inline-block;
  border-radius : 4px;
  font-size : 2vh;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  background : #dfbb76;
  color : #ffffff;
  line-height : 1em;
  border: 2px solid #dfbb76;
  margin-right: 4vw;
  -webkit-appearance: none;
}
.edit-btn:hover {
  opacity       : 0.6;
}

.delete-btn {
  width: 20vw;
  height: 5vh;
  display : inline-block;
  border-radius : 4px;
  font-size : 2vh;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  background : #ffffff;
  color : #dfbb76;
  line-height : 1em;
  border: 2px solid #dfbb76;
  margin-left: 4vw;
  -webkit-appearance: none;
}
.delete-btn:hover {
  background-color: #fff9ef;
}

/* 削除確認モーダルここから */

.delete-confirm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper-delete-confirm {
  text-align: center;
}

.bottom-delete-confirm {
  display: flex;
  justify-content: space-between;
}

.ok-delete-btn {
  width: 6vw;
  height: 5vh;
  border-radius : 4px;
  font-size : 1.5vh;
  text-align : center;
  cursor : pointer;
  background : #dfbb76;
  color : #ffffff;
  line-height : 5vh;
  border: 1px solid #dfbb76;
  margin-right: 4vw;
  -webkit-appearance: none;
}
.ok-delete-btn:hover {
  opacity       : 0.6;
}
.no-delete-btn {
  width: 6vw;
  height: 5vh;
  border-radius : 4px;
  font-size : 1.5vh;
  text-align : center;
  cursor : pointer;
  background : #ffffff;
  color : #dfbb76;
  line-height : 5vh;
  border: 1px solid #dfbb76;
}
.no-delete-btn:hover {
  background-color: #fff9ef;
}


/* 削除確認モーダルここまで */

@media (min-width: 600px) and (max-width: 1024px) {
  .menu--img {
    height: 20vh;
    border-radius: 6px;
  }
  
  .right-menu {
    width: 90vw;
    display: flex;
    justify-content: center;
  }

  .menu-title-user {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #e3d5c3;
  }
  
  .menu-detail-title {
    font-size: 24px;
    padding-right: 1vw;
    white-space: nowrap;
  }
  .cooked-name {
    font-size: 18px;
    color: #827b74;
    padding-bottom: 0;
  }
  .right-bookmark-icon {
    margin: 0;
  }

  .ok-delete-btn, .no-delete-btn {
    width: 10vw;
  }

}

@media (max-width: 599px) {
  .menu--img {
    height: 20vh;
    border-radius: 6px;
  }
  
  .right-menu {
    width: 90vw;
    display: flex;
    justify-content: center;
  }

  .menu-title-user {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #e3d5c3;
  }
  
  .menu-detail-title {
    font-size: 20px;
    padding-right: 1vw;
    white-space: nowrap;
  }
  .cooked-name {
    font-size: 14px;
    color: #827b74;
    padding-bottom: 0;
  }
  .right-bookmark-icon {
    margin: 0;
  }

  .edit-btn, .delete-btn {
    width: 30vw;
    height: 5vh;
    border-radius : 4px;
    font-size : 16px;
    padding : 15px;
    line-height : 1vh;
  }
  .edit-btn {
    margin-right: 4vw;
  }

  .ok-delete-btn, .no-delete-btn {
    width: 20vw;
  }
}