* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.main {
  height: 91vh;
  margin: 0 13vw;
}

.upper-content {
  height: 40vh;
  background-color: white;
}

.today {
  display: flex;
  justify-content: center;
  padding: 10vh 0 5vh 0;
  color: #635f5a;
  font-weight: bold;
}

.yes-or-yet {
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

.left-icon {
  width: 15vw;
  height: 7vh;
  border: 2px solid #dfbb76;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  background-color: #dfbb76;
}

.yes {
  color: white;
  line-height: 7vh;
}

.yet {
  color: #dfbb76;
  line-height: 7vh;
}

.right-icon {
  width: 10vw;
  height: 7vh;
  border: 2px solid #dfbb76;
  border-radius: 3px;
  color: #dfbb76;
  font-weight: bold;
  color: #dfbb76;
  text-align: center;
}


.middle-content {
  padding: 1vh 0;
  text-align: center;
  border-top: 1px solid #e3d5c3;
  border-bottom: 1px solid #e3d5c3;
}

.to-index {
  color: #635f5a;
}


.bottom-content {
  display: flex;
  align-items: center;
}

.menu-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu {
  width: 21vh;
  padding: 1vw;
  display: flex;
  justify-content: center;
}

.menu-body {
  display: flex;
  justify-content: space-between;
}

.menu-img {
  height: 20vh;
  border-radius: 5px;
}
.menu-title {
  font-size: 1.5vh;
  padding: 0 1vw;
  color: #635f5a;
}
