* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

.opacity-paper {
  margin: 0 13vw;
  background: rgba(255,255,255,.5);
  height: 100%;
}

.main {
  margin: 0 8vw;
  min-height: calc(100vh - 30vh);
}

.upper-content {
  height: 40vh;
}

.today {
  display: flex;
  justify-content: center;
  padding: 10vh 0 5vh 0;
  color: #635f5a;
  font-size: 1vw;
}

.yes-or-yet {
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

.select-icon {
  color: #dfbb76;
  line-height: 7vh;
  width: 16vw;
  height: 7vh;
  border: 2px solid #dfbb76;
  border-radius: 30px;
  color: #dfbb76;
  color: #dfbb76;
  text-align: center;
  font-size: 1vw;
  background-color: #ffffff;
  margin: 0 3vw;
}
.select-icon:hover {
  background-color: #dfbb76;
  color: #ffffff;
}

.middle-content {
  padding: 1vh 0;
  text-align: center;
  border-top: 1px solid #e3d5c3;
  border-bottom: 1px solid #e3d5c3;
  background-color: #fff;
}

.to-index {
  color: #635f5a;
}


.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.menu {
  width: 21vh;
  padding: 1vw;
  display: flex;
  justify-content: center;
}

.menu-body {
  display: flex;
  justify-content: space-between;
}

.menu-img {
  height: 20vh;
  border-radius: 5px;
}
.menu-title {
  font-size: 1.5vh;
  font-weight: bold;
  padding: 0 1vw;
  color: #635f5a;
}

.bookmark-btn {
  outline: none;
  border: none;
  background-color: #ffffff;
}
.bookmark-icon {
  height: 3vh;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .main {
    margin: 0 8vw;
    min-height: calc(100vh - 30vh);
  }

  .opacity-paper {
    margin: 0 6vw;
  }
  
  .today, .to-index, .select-icon {
    font-size: 16px;
  }
}

@media (max-width: 599px) {
  .main {
    margin: 0;
    min-height: calc(100vh - 30vh);
  }

  .opacity-paper {
    margin: 0 2vw;
  }

  .today, .to-index,.select-icon {
    font-size: 12px;
  }

  .select-icon {
    width: 25vw;
    height: 4vh;
    line-height: 3vh;
  }
}