.fridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fridge-title {
  width: 50vw;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #e3d5c3;
  margin-bottom: 1vh;
  font-weight: bold;
  font-size: 2vw;
}

.fridge-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fridge-list-title {
  display: flex;
  justify-content: center;
  color: #635f5a;
  font-size: 2vh;
  border-bottom: 1px solid #e3d5c3;
}

.fridge-list {
  width: 11vw;
  margin: 5px;  
}

.fridge-list-ing {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #635f5a;
}

.ing {
  display: flex;
  padding: 1vh 0;
  font-size: 2vh;
  align-items: center;
}

.ok-btn {
  width: 200px;
  display : inline-block;
  border-radius : 30px;
  font-size : 12pt;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  margin: 3vh 3vw 3vh 0;
  background : #dfbb76;
  color : white;
  line-height : 1em;
  border: 2px solid #dfbb76;
}
.ok-btn:hover {
  opacity: 0.6;
}
.empty-btn {
  width: 200px;
  display : inline-block;
  border-radius : 30px;
  font-size : 12pt;
  text-align : center;
  cursor : pointer;
  padding : 15px;
  margin: 3vh 0;
  background : #ffffff;
  color : #dfbb76;
  line-height : 1em;
  border: 2px solid #dfbb76;
}
.empty-btn:hover {
  background-color: whitesmoke;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .fridge-list-title, .ing {
    font-size: 2vw;
    white-space: nowrap;
  }
}

@media (max-width: 599px) {
  .fridge-list-title, .ing {
    font-size: 14px;
    white-space: nowrap;
  }
  .fridge-title p {
    font-size: 14px;
  }

  .fridge-list {
    width: 20vw;
    margin: 5px;  
  }

  .ok-btn {
    width: 20vw;
    height: 4vh;
    border-radius : 30px;
    font-size : 12px;
    margin: 3vh 3vw 3vh 0;
    line-height: 0.5vh;
  }
  .empty-btn {
    width: 30vw;
    height: 4vh;
    border-radius : 30px;
    font-size : 12px;
    margin: 3vh 3vw 3vh 0;
    line-height: 0.5vh;
  }
}